<a href="https://colab.research.google.com/github/ameya932/climate_change/blob/main/Climate_Change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import seaborn as sns
sns.set_style('darkgrid')

In [4]:
path = "/content/drive/MyDrive/Annual_Surface_Temperature_Change.csv"
df = pd.read_csv(path)

In [5]:
df.describe

<bound method NDFrame.describe of      ObjectId                       Country ISO2 ISO3  \
0           1  Afghanistan, Islamic Rep. of   AF  AFG
1           2                       Albania   AL  ALB
2           3                       Algeria   DZ  DZA
3           4                American Samoa   AS  ASM
4           5      Andorra, Principality of   AD  AND
..        ...                           ...  ...  ...
222       223                Western Sahara   EH  ESH
223       224                         World  NaN  WLD
224       225                Yemen, Rep. of   YE  YEM
225       226                        Zambia   ZM  ZMB
226       230                      Zimbabwe   ZW  ZWE

                                             Indicator            Unit  \
0    Temperature change with respect to a baseline ...  Degree Celsius
1    Temperature change with respect to a baseline ...  Degree Celsius
2    Temperature change with respect to a baseline ...  Degree Celsius
3    Temperature change with respect to a baseline ...  Degree Celsius
4    Temperature change with respect to a baseline ...  Degree Celsius
..                                                 ...             ...
222  Temperature change with respect to a baseline ...  Degree Celsius
223  Temperature change with respect to a baseline ...  Degree Celsius
224  Temperature change with respect to a baseline ...  Degree Celsius
225  Temperature change with respect to a baseline ...  Degree Celsius
226  Temperature change with respect to a baseline ...  Degree Celsius

                                                Source CTS_Code  \
0    Food and Agriculture Organization of the Unite...     ECCS
1    Food and Agriculture Organization of the Unite...     ECCS
2    Food and Agriculture Organization of the Unite...     ECCS
3    Food and Agriculture Organization of the Unite...     ECCS
4    Food and Agriculture Organization of the Unite...     ECCS
..                                                 ...      ...
222  Food and Agriculture Organization of the Unite...     ECCS
223  Food and Agriculture Organization of the Unite...     ECCS
224  Food and Agriculture Organization of the Unite...     ECCS
225  Food and Agriculture Organization of the Unite...     ECCS
226  Food and Agriculture Organization of the Unite...     ECCS

                       CTS_Name  \
0    Surface Temperature Change
1    Surface Temperature Change
2    Surface Temperature Change
3    Surface Temperature Change
4    Surface Temperature Change
..                          ...
222  Surface Temperature Change
223  Surface Temperature Change
224  Surface Temperature Change
225  Surface Temperature Change
226  Surface Temperature Change

                                   CTS_Full_Descriptor  ...  F2012  F2013  \
0    Environment, Climate Change, Climate Indicator...  ...  0.234  1.308
1    Environment, Climate Change, Climate Indicator...  ...  1.568  1.444
2    Environment, Climate Change, Climate Indicator...  ...  1.128  1.173
3    Environment, Climate Change, Climate Indicator...  ...  0.646  0.883
4    Environment, Climate Change, Climate Indicator...  ...  1.196  0.757
..                                                 ...  ...    ...    ...
222  Environment, Climate Change, Climate Indicator...  ...  1.234  1.282
223  Environment, Climate Change, Climate Indicator...  ...  1.058  1.007
224  Environment, Climate Change, Climate Indicator...  ...    NaN    NaN
225  Environment, Climate Change, Climate Indicator...  ...  0.926  0.746
226  Environment, Climate Change, Climate Indicator...  ...  0.329  0.102

     F2014  F2015  F2016  F2017  F2018  F2019  F2020  F2021
0    0.457  1.101  1.607  1.568  1.580  0.960  0.544  1.421
1    1.322  1.665  1.601  1.269  2.146  1.823  1.623  1.682
2    1.676  1.101  1.736  1.498  1.211  1.094  1.913  2.317
3    0.554  0.394  0.924  0.820  0.574  0.924  0.815  0.653
4    1.857  1.546  1.830  1.771  1.761  1.813  2.401  1.367
..     ...    ...    ...    ...    ...    ...    ...    ...
222  1.244  1.277  1.636  2.078  0.851  1.430  2.026  1.557
223  1.042  1.406  1.658  1.424  1.284  1.449  1.713  1.442
224    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
225  0.638  1.486  1.474  0.721  0.727  1.295  1.252  1.002
226 -0.008  0.808  1.051  0.116  0.405  0.939  0.415 -0.101

[227 rows x 71 columns]>

In [6]:
df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [8]:
df.tail()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
222,223,Western Sahara,EH,ESH,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.234,1.282,1.244,1.277,1.636,2.078,0.851,1.430,2.026,1.557
223,224,World,NaN,WLD,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.058,1.007,1.042,1.406,1.658,1.424,1.284,1.449,1.713,1.442
224,225,"Yemen, Rep. of",YE,YEM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,226,Zambia,ZM,ZMB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.926,0.746,0.638,1.486,1.474,0.721,0.727,1.295,1.252,1.002
226,230,Zimbabwe,ZW,ZWE,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.329,0.102,-0.008,0.808,1.051,0.116,0.405,0.939,0.415,-0.101